.campaigns {
  $client-color: #3149e8;
  $name-color: #1b1b1f;
  $campaign-color: #d4d4d4;
  $badge-tested: #00c28f;
  $badge-new: #9d413c;
  $history-color: #777680;
  $search-color: #e3e1ec;
  $subtext-color: #46464f;
  $search-placeholder: #46464f;

  padding-bottom: 100px;

  .searchContainer {
    width: 100%;
    position: relative;
  }

  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding: 7% 3.5% 2%;
  }

  .search {
    width: 90%;
    padding: 13px 25px;
    border: 0;
    border-radius: 30px;
    background-color: #e3e1ec;
    outline: none;
    margin: 0 5%;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #46464f;
    }
  }

  .searchIcon {
    position: absolute;
    right: 10%;
    top: 25%;
    height: 24px;
  }

  .searchActive {
    border-radius: 0;
    background-color: transparent;
    padding: 5% 5% 5% 15%;
    border-bottom: 1px solid #777680;
    outline: 0;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .arrowBack {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 24px;
  }

  .campaign {
    border-bottom: 1px solid #d4d4d4;
    padding: 12px 15px;
    position: relative;
  }

  .client {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #3149e8;
    letter-spacing: 0.5px;
  }

  .name {
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
    line-height: 85%;
    letter-spacing: 0.5px;
    color: #1b1b1f;
  }

  .subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #46464f;
  }

  .tested {
    &::after {
      content: "Przetestowane";
      position: absolute;
      top: 10%;
      right: 4%;
      background-color: $badge-tested;
      padding: 2px 10px;
      color: #fff;
      border-radius: 20px;
      line-height: 16px;
      letter-spacing: 0.5px;
      font: {
        weight: 500;
        size: 11px;
      }
    }
  }

  .new {
    &::after {
      content: "Nowe";
      position: absolute;
      top: 10%;
      right: 4%;
      background-color: $badge-new;
      padding: 2px 10px;
      color: #fff;
      border-radius: 20px;
      line-height: 16px;
      letter-spacing: 0.5px;
      font: {
        weight: 500;
        size: 11px;
      }
    }
  }

  .history {
    color: #777680;
  }

  .filterButtons {
    position: relative;
    width: 100%;
    margin: 4% 0 1%;
    border-bottom: 1px solid #e1e1e1;

    button {
      width: 50%;
      background-color: transparent;
      border: 0;
      color: #46464f;
      font-size: 14px;
      font-weight: 500;
      padding: 5% 10%;
      letter-spacing: 1.25px;
      line-height: 14px;

      &.active {
        color: #3149e8;
        background-color: #f7f7f7;
        transition: 0.5s ease;
      }
    }

    .indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2.5px;

      span {
        display: block;
        width: 25%;
        height: 100%;
        background-color: #3149e8;
        position: absolute;
        top: 0;
        transition: 0.5s ease;
      }

      .activeBar {
        left: 12.3%;
      }

      .historyBar {
        left: 62.5%;
      }
    }
  }
}

.singleCampaign {
  .header {
    height: 20vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 15px;
    gap: 10px;
    background-color: #3149e8;

    a {
      color: #fff;
    }

    h1 {
      font: {
        weight: 400;
        size: 24px;
      }
      margin-left: 5px;
      line-height: 32px;
    }
  }

  .badgeNew,
  .badgeTested,
  .badgeRunning,
  .badgeEnded {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    margin: 15px 15px 0;
    font-weight: 500;
    font-size: 11px;
  }

  .badgeTested {
    background-color: #00c28f;
  }

  .fullDescription {
    width: 100%;
    padding: 0 15px;
    margin: 20px auto;
  }

  .campaignTitle {
    line-height: 32px;
    color: #3149e8;
    font-weight: 400;
    font-size: 24px;
  }

  .sectionTitle {
    margin: 30px 0 0;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #777680;
    font-weight: 500;
    font-size: 14px;
  }

  .dates {
    line-height: 28px;
    font-weight: 400;
    font-size: 22px;
  }

  .arrowBack {
    filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(166deg)
      brightness(105%) contrast(101%);
  }
}
