$client-color: #3149e8;
$name-color: #1b1b1f;
$campaign-color: #d4d4d4;
$badge-new: #9d413c;
$badge-tested: #00c28f;
$badge-running: #5066ff;
$badge-ended: #78767a;
$history-header: #5f5e62;
$history-bg: #000;
$history-color: #000;
$search-color: #e3e1ec;
$subtext-color: #46464f;
$search-placeholder: #46464f;
$format-color: #d4d4d4;
$button-color: #3149e8;

.campaigns {
  padding-bottom: 100px;

  .searchContainer {
    width: 100%;
    position: relative;
  }

  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding: 7% 3.5% 2% 1.9%;
  }

  .search {
    width: 90%;
    padding: 13px 25px;
    border: 0;
    border-radius: 30px;
    background-color: #e3e1ec;
    outline: none;
    margin: 0 5%;
    cursor: pointer;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: #46464f;
    }
  }

  .searchIcon {
    position: absolute;
    right: 10%;
    top: 25%;
    height: 24px;
  }

  .searchActive {
    border-radius: 0;
    background-color: transparent;
    padding: 36px 5% 36px 15%;
    border-bottom: 1px solid #777680;
    outline: 0;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .arrowBack {
    position: absolute;
    left: 4%;
    top: 36%;
    width: 26px;
    cursor: pointer;
  }

  .campaign {
    border-bottom: 1px solid #d4d4d4;
    padding: 12px 15px;
    position: relative;
  }

  .client {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #3149e8;
    letter-spacing: 0.5px;
  }

  .name {
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0;
    padding: 0;
    line-height: 85%;
    letter-spacing: 0.5px;
    color: #1b1b1f;
  }

  .subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #46464f;
  }

  .tested {
    &::after {
      content: "Przetestowane";
      position: absolute;
      top: 10%;
      right: 4%;
      background-color: $badge-tested;
      padding: 2px 10px;
      color: #fff;
      border-radius: 20px;
      line-height: 16px;
      letter-spacing: 0.5px;
      font: {
        weight: 500;
        size: 11px;
      }
    }
  }

  .new {
    &::after {
      content: "Nowe";
      position: absolute;
      top: 10%;
      right: 4%;
      background-color: $badge-new;
      padding: 2px 10px;
      color: #fff;
      border-radius: 20px;
      line-height: 16px;
      letter-spacing: 0.5px;
      font: {
        weight: 500;
        size: 11px;
      }
    }
  }

  .history {
    color: #777680;
  }

  .filterButtons {
    position: relative;
    width: 100%;
    margin: 4% 0 1%;
    border-bottom: 1px solid #e1e1e1;

    button {
      width: 50%;
      background-color: transparent;
      border: 0;
      color: #46464f;
      font-size: 14px;
      font-weight: 500;
      padding: 20px 10%;
      letter-spacing: 1.25px;
      line-height: 14px;
      transition: 0.3s ease;

      &:hover {
        background-color: #f7f7f7;
      }

      &.active {
        color: #3149e8;
        // background-color: #f7f7f7;
        // transition: color 0.5s ease;
      }
    }

    .indicator {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2.5px;

      span {
        display: block;
        width: 25%;
        height: 100%;
        background-color: #3149e8;
        position: absolute;
        top: 0;
        transition: 0.5s ease;
      }

      .activeBar {
        left: 12.3%;
      }

      .historyBar {
        left: 62.5%;
      }
    }
  }

  .searchResults {
    margin-top: 30px;

    h3 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      padding: 2% 3.5% 2% 12px;
    }
  }

  .close {
    color: #000;
    position: absolute;
    right: 5%;
    top: 40%;
    z-index: 50;
  }
}

.singleCampaign {
  .header {
    height: 20vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 15px;
    gap: 10px;
    background-color: #3149e8;

    a {
      color: #fff;
    }

    h1 {
      font: {
        weight: 400;
        size: 24px;
      }
      margin-left: 5px;
      line-height: 32px;
    }
  }

  .historyHeader {
    background-color: $history-header;
  }

  .badgeNew,
  .badgeRunning,
  .badgeTested,
  .badgeEnded {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.5px;
    margin: 15px 15px 0;
    font: {
      weight: 500;
      size: 11px;
    }
  }

  .badgeNew {
    background-color: $badge-new;
  }

  .badgeTested {
    background-color: $badge-tested;
  }

  .badgeRunning {
    background-color: $badge-running;
  }

  .badgeEnded {
    background: $badge-ended;
  }

  .fullDescription {
    width: 100%;
    padding: 0 15px;
    margin: 20px auto;
  }

  .campaignTitle {
    line-height: 32px;
    color: #3149e8;
    font-weight: 400;
    font-size: 24px;
  }

  .historyTitle {
    color: $history-color;
  }

  .sectionTitle {
    margin: 30px 0 0;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #777680;
    font-weight: 500;
    font-size: 14px;
  }

  .dates {
    line-height: 28px;
    font-weight: 400;
    font-size: 22px;
  }

  .arrowBack {
    filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(166deg)
      brightness(105%) contrast(101%);
  }

  .format {
    display: flex;
    border-bottom: 1px solid $format-color;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 10px;
  }

  .leftFormat {
    margin: 5px 0;

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      color: #494949;
      font-weight: 500;
      margin: 0;
    }
  }

  button {
    background-color: $button-color;
    color: #fff;
    line-height: 20px;
    letter-spacing: 0.1px;
    width: 100px;
    height: 40px;
    border: 0 {
      radius: 100px;
    }
    font: {
      weight: 500;
      size: 14px;
    }
  }

  .historyButton {
    background-color: $history-bg;
  }
}

.searchFilters {
  display: flex;
  margin: 10px 0;
  color: #46464f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.857%;
  letter-spacing: 0.1px;

  button {
    padding: 5px 10px;
    border: 1px solid #777680;
    background-color: transparent;
    border-radius: 5px;
    margin: 0 5px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #46464f;

    &.active {
      background-color: #d5e3ff;
    }

    img {
      padding-left: 10px;
    }
  }
}

.searchFilter {
  border: 1px solid white;
  padding: 10px;

  &:first-of-type {
    margin: 0 5px 0 8%;
  }
}
