.content {
  display: block;
  min-height: 100%;
  width: 100%;
  max-width: 720px;
  overflow: auto;
  margin: 0 auto;
}

.carousel-indicators {
  button {
    background-color: #d9d9d9 !important;
    width: 10px !important;
    height: 10px !important;
    margin: 1% 5px 0 !important;
    opacity: 1 !important;
    border-radius: 10px !important;
    border: 0 !important;
    padding: 0;
  }

  .active {
    background-color: #3149e8 !important;
  }
}
